body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #361313;
    border-radius: 5px;
}

h1 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px; /* Increased margin for better separation */
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #999; /* Placeholder text color */
}

label[for="email"],
label[for="password"] {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Added font weight for emphasis */
    color: #0056b3;
}


button[type="submit"] {
    float: right;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    display: inline-block;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.account-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.account-label {
    text-align: center;
    flex-basis: 48%;
    position: relative;
}

.account-label img {
    max-width: 100%;
}

.account-label input[type="radio"] {
    display: none;
}

.account-label input[type="radio"]:checked + .profile-img::after {
    content: "\2713";
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    background-color: #007bff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img {
    width: 160px; /* Adjusted size */
    height: 160px; /* Adjusted size */
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Hide overflow for perfect circle */
    margin: 15px auto 20px; /* 10px top margin, 70px bottom margin, auto left-right margin */
}
.form-instructions {
    text-align: center;
}
